body{
   background-color: aqua;
   display: flex;
   align-items: center;
   justify-content: center;
}
.container{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
}
.top{
   display: flex;
   align-items: center;
   gap: 50px;
}
.arrow{
   height: 150px;
   cursor: pointer;
}
.left{
   transform:rotate(180deg) ;
}
.frame{
   width: 800px;
   height: 500px;
   overflow: hidden;
}
.slider{
   display: flex;
   transition: all 1s ease;
}
.bottom{
   display: flex;
   gap: 30px;
}
.image{
   width: 100%;
   height: 100%;
    object-fit: cover;
}
.button{
   width: 16px;
   height: 15px;
   border-radius: 50%;
   border: 1px solid white;
}